@model JobMatch.Models.Job

<div class="job-item p-4 mb-4">
    <div class="row g-4">
        <div class="col-sm-12 col-md-8 d-flex align-items-center">
            <a href="#">
                <img class="flex-shrink-0 img-fluid border rounded image-logo-company" 
                     src="@Url.Content(Model.Company.CompanyImage)" alt=""
                     style="width: 80px; height: 80px;">
            </a>
            <div class="text-start ps-4">
                <a asp-controller="Job" asp-action="JobDetail" asp-route-jobID="@Model.Id" class="mb-3">
                    <h5>@Model.Title</h5>
                </a>
                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>@Model.WorkAt</span>
                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>@Model.JobType</span>
                <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>@Model.SalaryRange</span>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
            <div class="d-flex mb-3">
                <a class="btn btn-light btn-square me-3" href="#"><i class="far fa-heart text-primary"></i></a>
                <a class="btn btn-primary" href="#">Ứng tuyển ngay</a>
            </div>
            <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Hạn nộp hồ sơ: @Model.EndDate</small>
        </div>
    </div>
</div>
