@model JobMatch.Models.Application

@{
    ViewData["Title"] = "Chi tiết CV";
    Layout = "~/Views/Shared/_RecruiterLayout.cshtml";
}
<a asp-action="JobApplications" asp-route-jobId="@Model.JobId" class="btn btn-secondary mt-3">🔙 Quay lại</a>
<a asp-action="JobList" class="btn btn-outline-secondary mt-3">🏠 Quay về danh sách công việc</a>

<h2>Chi tiết đơn ứng tuyển</h2>



<div class="mb-3">
    <p><strong>Công việc:</strong> @Model.Job?.Title</p>
    <p><strong>Công ty:</strong> @Model.Job?.Company?.CompanyName</p>

    <iframe src="@ViewBag.PdfUrl" width="100%" height="600px" frameborder="0"></iframe>
    <label class="form-label">Cover Letter</label>
    <textarea class="form-control" rows="5" readonly>@Model.CoverLetter</textarea>
</div>

<div class="mb-3">
    
    <br/>
    <label class="form-label">Trạng thái đơn ứng tuyển</label>

    <div class="mb-3">
        <form asp-action="UpdateApplicationStatus" method="post">
            <input type="hidden" name="applicationId" value="@Model.Id" />
            <input type="hidden" name="resumeId" value="@Model.Resume?.Id" />
            <input type="hidden" name="jobTitle" value="@Model.Job?.Title" />
            <input type="hidden" name="companyName" value="@Model.Job?.Company?.CompanyName" />

            <button type="submit" class="btn btn-success" name="status" value="Accepted"
            @(Model.ApplicationStatus == "Accepted" ? "disabled" : "")>
                ✅ Phù hợp
            </button>

            <button type="submit" class="btn btn-danger" name="status" value="Rejected"
            @(Model.ApplicationStatus == "Rejected" ? "disabled" : "")>
                ❌ Không phù hợp
            </button>
        </form>

    </div>

</div>




